* {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

.frame {
    position: relative;
}

#game {
    background-image: url('../../assets/login/cadastro.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

#email {
    position: absolute;
    width: calc(500 * var(--un));
    top: calc(358 * var(--un));
    left: calc(455 * var(--un));
    font-size: calc(35 * var(--un));
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
}

#senha {
    position: absolute;
    width: calc(500 * var(--un));
    top: calc(602 * var(--un));
    left: calc(455 * var(--un));
    font-size: calc(35 * var(--un));
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
}

#ok {
    position: absolute;
    cursor: pointer;
    border-radius: calc(20 * var(--un));
    height: calc(118 * var(--un));
    width: calc(242 * var(--un));
    top: calc(750 * var(--un));
    left: calc(413 * var(--un));
    font-size: calc(35 * var(--un));
    color: transparent;
    border: none;
    background-color: transparent;
    outline: none;
}

#cadastrar {
    position: absolute;
    cursor: pointer;
    border-radius: calc(20 * var(--un));
    height: calc(118 * var(--un));
    width: calc(302 * var(--un));
    top: calc(750 * var(--un));
    left: calc(693 * var(--un));
    font-size: calc(35 * var(--un));
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
}

.alert-erro {
    position: absolute;
    top: calc(0 * var(--un));
    left: calc(0 * var(--un));
    width: 100%;
    height: 100%;
    background-image: url('../../assets/login/acesso_negado.png');
}

.ok-erro {
    position: absolute;
    cursor: pointer;
    border-radius: calc(20 * var(--un));
    height: calc(100 * var(--un));
    width: calc(210 * var(--un));
    top: calc(585 * var(--un));
    left: calc(580 * var(--un));
    border: none;
    background-color: transparent;
    outline: none;
}

.mensagem-erro {
    position: absolute;
    width: calc(900 * var(--un));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(35 * var(--un));
    color: #fff;
    text-align: center;
}