* {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html,
body {
    background-image: url('../../assets/entorno/bg/computador.png');
}

button {
    background-color: transparent;
    border: none;
}

.frame {
    position: relative;
    border-image: url('../../assets/entorno/borda/computador.png') 32 stretch;
}

#game {
    background-image: url('../../assets/pc/pc.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

#cse {
    position: absolute;
    background-image: url('../../assets/hud/stats_CSE.png');
    height: calc(140 * var(--un));
    width: calc(614 * var(--un));
    top: 0;
    left: 0;
}

#icone-energia {
    position: absolute;
    background-image: url('../../assets/hud/energia.png');
    height: calc(100 * var(--un));
    width: calc(100 * var(--un));
    top: calc(10 * var(--un));
    left: calc(10 * var(--un));
}

#energia {
    position: absolute;
    color: #fff;
    font-size: calc(40 * var(--un));
    top: calc(41 * var(--un));
    left: calc(104 * var(--un));
}

#icone-felicidade {
    position: absolute;
    background-image: url('../../assets/hud/felicidade/4.png');
    height: calc(75 * var(--un));
    width: calc(75 * var(--un));
    top: calc(20 * var(--un));
    left: calc(303 * var(--un));

}

#felicidade {
    position: absolute;
    color: #fff;
    font-size: calc(40 * var(--un));
    top: calc(41 * var(--un));
    left: calc(390 * var(--un));
}

#csd {
    position: absolute;
    background-image: url('../../assets/hud/stats_CSD.png');
    height: calc(140 * var(--un));
    width: calc(366 * var(--un));
    top: 0;
    right: 0;
}

#tempo {
    position: absolute;
    font-size: calc(50 * var(--un));
    color: #fff;
    top: calc(36 * var(--un));
    right: calc(44 * var(--un));
}

.seta-baixo {
    position: absolute;
    background-image: url('../../assets/hud/seta_baixo.png');
    height: calc(135 * var(--un));
    width: calc(230 * var(--un));
    bottom: calc(13 * var(--un));
    left: calc(590 * var(--un));
    cursor: pointer;
    z-index: 5;
}

.advertencia_cheia {
    position: absolute;
    background-image: url('../../assets/pc/advertencia_cheia.png');
    height: calc(96 * var(--un));
    width: calc(93 * var(--un));

}

.advertencia_vazia {
    position: absolute;
    background-image: url('../../assets/pc/advertencia_vazia.png');
    height: calc(96 * var(--un));
    width: calc(93 * var(--un));
}

#adv_1 {
    top: calc(13 * var(--un));
    left: calc(630 * var(--un));
}

#adv_2 {
    top: calc(13 * var(--un));
    left: calc(730 * var(--un));
}

#adv_3 {
    top: calc(13 * var(--un));
    left: calc(830 * var(--un));
}

#adv_4 {
    top: calc(13 * var(--un));
    left: calc(930 * var(--un));
}

#tb-windows {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/windows.png');
    height: calc(55 * var(--un));
    width: calc(55 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(64 * var(--un));
}

#tb-reuniao {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/reuniao.png');
    height: calc(55 * var(--un));
    width: calc(55 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(151 * var(--un));
    z-index: 1;
}


#tb-pasta {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/pasta.png');
    height: calc(42 * var(--un));
    width: calc(42 * var(--un));
    bottom: calc(79 * var(--un));
    left: calc(238 * var(--un));
    z-index: 1;
}

#tb-lista {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/lista.png');
    height: calc(51 * var(--un));
    width: calc(51 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(312 * var(--un));
    z-index: 1;
}

#tb-jogo {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/jogo.png');
    height: calc(48 * var(--un));
    width: calc(48 * var(--un));
    bottom: calc(75 * var(--un));
    left: calc(395 * var(--un));
    z-index: 1;
}

#tb-tarefa {
    display: none;
    position: absolute;
    background-image: url('../../assets/pc/taskbar/tarefa.png');
    height: calc(50 * var(--un));
    width: calc(50 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(477 * var(--un));
    z-index: 1;
}

.selecionado {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/selecionado.png');
    height: calc(62 * var(--un));
    width: calc(80 * var(--un));
    bottom: calc(68 * var(--un));
    pointer-events: none;
}

.aberto {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/aberto.png');
    height: calc(4 * var(--un));
    width: calc(16 * var(--un));
    bottom: calc(70 * var(--un));
    pointer-events: none;
}

#tb-reuniao-selecionado {
    left: calc(136 * var(--un));
}

#tb-pasta-selecionado {
    left: calc(216 * var(--un));
}

#tb-lista-selecionado {
    left: calc(296 * var(--un));
}

#tb-jogo-selecionado {
    left: calc(376 * var(--un));
}

#tb-tarefa-selecionado {
    left: calc(460 * var(--un));
}

#tb-reuniao-aberto {
    left: calc(167 * var(--un));
}

#tb-pasta-aberto {
    left: calc(248 * var(--un));
}

#tb-lista-aberto {
    left: calc(328 * var(--un));
}

#tb-jogo-aberto {
    left: calc(409 * var(--un));
}

#tb-tarefa-aberto {
    left: calc(490 * var(--un));
}

#tela-reuniao {
    position: absolute;
    background-image: url('../../assets/pc/tela_reuniao.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#compartilhar-tela {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/compartilhar_tela.png');
    height: calc(72 * var(--un));
    width: calc(104 * var(--un));
    top: calc(285 * var(--un));
    right: calc(140 * var(--un));
}

#camera-fechado {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/camera_fechado.png');
    height: calc(88 * var(--un));
    width: calc(104 * var(--un));
    top: calc(472 * var(--un));
    right: calc(136 * var(--un));
}

#camera-aberto {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/camera_aberto.png');
    height: calc(72 * var(--un));
    width: calc(104 * var(--un));
    top: calc(480 * var(--un));
    right: calc(136 * var(--un));
}

#microfone-fechado {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/microfone_fechado.png');
    height: calc(88 * var(--un));
    width: calc(104 * var(--un));
    top: calc(648 * var(--un));
    right: calc(140 * var(--un));
}

#microfone-aberto {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/microfone_aberto.png');
    height: calc(88 * var(--un));
    width: calc(104 * var(--un));
    top: calc(648 * var(--un));
    right: calc(140 * var(--un));
}

#minimizar-reuniao {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(48 * var(--un));
    top: calc(143 * var(--un));
    right: calc(223 * var(--un));
}

#xis-reuniao {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(119 * var(--un));
}

#tela-pasta {
    position: absolute;
    background-image: url('../../assets/pc/tela_pasta.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#minimizar-pasta {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-pasta {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(119 * var(--un));
}

#doc-1 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(185 * var(--un));
}

#doc-2 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(454 * var(--un));
}

#doc-3 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(725 * var(--un));
}

#doc-4 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(987 * var(--un));
}

#doc-5 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(573 * var(--un));
    left: calc(185 * var(--un));
}

#documento-aberto {
    position: absolute;
    background-image: url('../../assets/pc/documento.png');
    height: calc(680 * var(--un));
    width: calc(470 * var(--un));
    top: calc(161 * var(--un));
    left: calc(471 * var(--un));
}

#documento-aberto-texto {
    position: absolute;
    font-size: calc(20 * var(--un));
    top: calc(266 * var(--un));
    left: calc(507 * var(--un));
    color: black;
}

#documento-aberto-fechar {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(72 * var(--un));
    top: calc(163 * var(--un));
    right: calc(471 * var(--un));
}

#documento-aberto-minimizar {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(72 * var(--un));
    top: calc(163 * var(--un));
    right: calc(550 * var(--un));
}

#tela-lista {
    position: absolute;
    background-image: url('../../assets/pc/tela_lista.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#minimizar-lista {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-lista {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(120 * var(--un));
}

#pontuacao-jogador {
    position: absolute;
    font-size: calc(25 * var(--un));
    color: #fff;
    top: calc(225 * var(--un));
    right: calc(163 * var(--un));
}

.icone-tarefa {
    position: absolute;
    height: calc(70 * var(--un));
    width: calc(77 * var(--un));
    left: calc(200 * var(--un));
}

.texto-tarefa {
    position: absolute;
    font-size: calc(25 * var(--un));
    color: #fff;
    left: calc(305 * var(--un));
}

.pontuacao-ganha-tarefa {
    position: absolute;
    color: #fff;
    font-size: calc(20 * var(--un));
    right: calc(357 * var(--un));
}

.pontuacao-perdida-tarefa {
    position: absolute;
    color: #fff;
    font-size: calc(20 * var(--un));
    right: calc(228 * var(--un));
}

.item-lista {
    position: absolute;
    height: calc(100 * var(--un));
    width: calc(1086 * var(--un));
    left: calc(157 * var(--un));
    border-radius: calc(20 * var(--un));
    cursor: pointer;
}

#icone-tarefa-1 {
    top: calc(324 * var(--un));
}

#icone-tarefa-2 {
    top: calc(452 * var(--un));
}

#icone-tarefa-3 {
    top: calc(580 * var(--un));
}

#icone-tarefa-4 {
    top: calc(712 * var(--un));
}

#texto-tarefa-1 {
    top: calc(347 * var(--un));
}

#texto-tarefa-2 {
    top: calc(477 * var(--un));
}

#texto-tarefa-3 {
    top: calc(605 * var(--un));
}

#texto-tarefa-4 {
    top: calc(735 * var(--un));
}

#pontuacao-ganha-tarefa-1 {
    top: calc(350 * var(--un));
}

#pontuacao-ganha-tarefa-2 {
    top: calc(480 * var(--un));
}

#pontuacao-ganha-tarefa-3 {
    top: calc(608 * var(--un));
}

#pontuacao-ganha-tarefa-4 {
    top: calc(738 * var(--un));
}

#pontuacao-perdida-tarefa-1 {
    top: calc(350 * var(--un));
}

#pontuacao-perdida-tarefa-2 {
    top: calc(480 * var(--un));
}

#pontuacao-perdida-tarefa-3 {
    top: calc(608 * var(--un));
}

#pontuacao-perdida-tarefa-4 {
    top: calc(738 * var(--un));
}

#item-lista-1 {
    top: calc(309 * var(--un));
}

#item-lista-2 {
    top: calc(439 * var(--un));
}

#item-lista-3 {
    top: calc(569 * var(--un));
}

#item-lista-4 {
    top: calc(697 * var(--un));
}

#tela-tarefa-1 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#botao-trocar-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
    left: calc(150 * var(--un));
    bottom: calc(220 * var(--un));
    cursor: pointer;
}

#botao-testar-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
    left: calc(527 * var(--un));
    bottom: calc(220 * var(--un));
    cursor: pointer;
}

#botao-entregar-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
    left: calc(904 * var(--un));
    bottom: calc(220 * var(--un));
    cursor: pointer;
}

.icone-t1 {
    height: calc(110 * var(--un));
    width: calc(110 * var(--un));
}

#elemento1-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(182 * var(--un));
}

#elemento2-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(402 * var(--un));
}

#elemento3-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(622 * var(--un));
}

#elemento4-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(841 * var(--un));
}

#elemento5-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(1060 * var(--un));
}

#trocar-esmaecido-t1 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/escurecedor.png');
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
}

#testar-esmaecido-t1 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/escurecedor.png');
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
}

.elemento-esmaecido-t1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/pc/tarefas/1/escurecedor_elemento.png');
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
}

#countdown-t1 {
    position: absolute;
    font-size: calc(20 * var(--un));
    color: #fff;
    top: calc(315 * var(--un));
    left: calc(540 * var(--un));
}

#comparacao-t1 {
    position: absolute;
    font-size: calc(30 * var(--un));
    color: #fff;
    top: calc(305 * var(--un));
    left: calc(640 * var(--un));
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-comparacao-t1 {
    height: calc(47 * var(--un));
    width: calc(47 * var(--un));
}

#minimizar-tarefa {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-tarefa {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(120 * var(--un));
}

#sucesso-t1 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(305 * var(--un));
    left: calc(540 * var(--un));
}

#falha-t1 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(305 * var(--un));
    left: calc(540 * var(--un));
}

#botao-duvida-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(142 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-duvida-t3 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(148 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-duvida-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(148 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-duvida-t5 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(148 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-duvida-t6 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(148 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-duvida-t7 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(148 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-ok {
    position: absolute;
    border-radius: calc(20 * var(--un));
    width: calc(327 * var(--un));
    height: calc(82 * var(--un));
    bottom: calc(220 * var(--un));
    left: calc(533 * var(--un));
    cursor: pointer;
}

#duvida-t1,
#duvida-t2,
#duvida-t3,
#duvida-t4,
#duvida-t5,
#duvida-t6,
#duvida-t7 {
    position: absolute;
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#duvida-t1 {
    background-image: url('../../assets/pc/tarefas/1/duvida.png');
}

#duvida-t2 {
    background-image: url('../../assets/pc/tarefas/2/duvida.png');
}

#duvida-t3 {
    background-image: url('../../assets/pc/tarefas/3/duvida.png');
}

#duvida-t4 {
    background-image: url('../../assets/pc/tarefas/4/duvida.png');
}

#duvida-t5 {
    background-image: url('../../assets/pc/tarefas/5/duvida.png');
}

#duvida-t6 {
    background-image: url('../../assets/pc/tarefas/6/duvida.png');
}

#duvida-t7 {
    background-image: url('../../assets/pc/tarefas/7/duvida.png');
}

#tela-tarefa-2 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/2/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#titulo-tarefa-2 {
    color: #000;
    position: absolute;
    width: calc(876 * var(--un));
    font-size: calc(30 * var(--un));
    top: calc(316 * var(--un));
    left: calc(282 * var(--un));
    text-align: center;
}

.linha-codigo-t2 {
    position: absolute;
    font-family: 'Fira Code', monospace;
    font-size: calc(25 * var(--un));
    color: #fff;
    top: calc(503 * var(--un));
    left: calc(275 * var(--un));
}

.numeracao-linha-t2 {
    position: absolute;
    left: calc(235 * var(--un));
    font-family: 'Fira Code', monospace;
    font-size: calc(25 * var(--un));
    color: #c8c5c5;
}

#botao-testar-t2 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(153 * var(--un));
    bottom: calc(370 * var(--un));
    cursor: pointer;
}

#botao-entregar-t2 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(153 * var(--un));
    bottom: calc(245 * var(--un));
    cursor: pointer;
}

#completar-t2 {
    border: none;
    background-color: #fff;
    height: calc(30 * var(--un));
    width: calc(50 * var(--un));
    font-size: calc(25 * var(--un));
    font-family: 'Fira Code', monospace;
    text-align: center;
    outline: none;
}

#botao-duvida-t2 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(151 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#testar-esmaecido-t2 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/escurecedor.png');
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
}

#countdown-t2 {
    position: absolute;
    font-size: calc(15 * var(--un));
    color: #fff;
    top: calc(505 * var(--un));
    left: calc(955 * var(--un));
}

#resultado-t2 {
    position: absolute;
    font-size: calc(30 * var(--un));
    width: calc(180 * var(--un));
    top: calc(449 * var(--un));
    left: calc(985 * var(--un));
    display: flex;
    justify-content: center;
    align-items: center;
}

#sucesso-t2 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#falha-t2 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#tela-tarefa-3 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/3/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#titulo-tarefa-3 {
    color: #000;
    position: absolute;
    font-size: calc(30 * var(--un));
    top: calc(316 * var(--un));
    left: calc(265 * var(--un));
    text-align: center;
}

#botao-entregar-t3 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(170 * var(--un));
    bottom: calc(333 * var(--un));
    cursor: pointer;
}

#resultado-t3 {
    position: absolute;
    font-size: calc(30 * var(--un));
    width: calc(180 * var(--un));
    top: calc(449 * var(--un));
    left: calc(985 * var(--un));
    display: flex;
    justify-content: center;
    align-items: center;
}

#sucesso-t3 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#falha-t3 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#tela-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/inicio.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#botao-iniciar-jogo {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(132 * var(--un));
    width: calc(529 * var(--un));
    left: calc(436 * var(--un));
    bottom: calc(312 * var(--un));
    cursor: pointer;
}

#minimizar-jogo {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-jogo {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(119 * var(--un));
}

#seta-direita-jogo {
    position: absolute;
    background-image: url('../../assets/hud/seta_baixo.png');
    height: calc(89 * var(--un));
    width: calc(151 * var(--un));
    bottom: calc(407 * var(--un));
    left: calc(1150 * var(--un));
    cursor: pointer;
    z-index: 2;
    rotate: 270deg;
}

#seta-esquerda-jogo {
    position: absolute;
    background-image: url('../../assets/hud/seta_baixo.png');
    height: calc(89 * var(--un));
    width: calc(151 * var(--un));
    bottom: calc(407 * var(--un));
    left: calc(98 * var(--un));
    cursor: pointer;
    z-index: 2;
    rotate: 90deg;
}

#inimigo-1-esquerda {
    position: absolute;
    height: calc(210 * var(--un));
    width: calc(80 * var(--un));
    bottom: calc(340 * var(--un));
    left: calc(370 * var(--un));
    cursor: pointer;
}

#inimigo-1-meio {
    position: absolute;
    height: calc(150 * var(--un));
    width: calc(90 * var(--un));
    bottom: calc(400 * var(--un));
    left: calc(560 * var(--un));
    cursor: pointer;
}

#inimigo-1-direita {
    position: absolute;
    height: calc(120 * var(--un));
    width: calc(140 * var(--un));
    bottom: calc(390 * var(--un));
    left: calc(820 * var(--un));
    cursor: pointer;
}

#inimigo-2-esquerda {
    position: absolute;
    height: calc(120 * var(--un));
    width: calc(140 * var(--un));
    bottom: calc(580 * var(--un));
    left: calc(400 * var(--un));
    cursor: pointer;
}

#inimigo-2-meio {
    position: absolute;
    height: calc(180 * var(--un));
    width: calc(90 * var(--un));
    bottom: calc(460 * var(--un));
    left: calc(690 * var(--un));
    cursor: pointer;
}

#inimigo-2-direita {
    position: absolute;
    height: calc(140 * var(--un));
    width: calc(120 * var(--un));
    bottom: calc(520 * var(--un));
    left: calc(1050 * var(--un));
    cursor: pointer;
}

#inimigo-3-esquerda {
    position: absolute;
    height: calc(200 * var(--un));
    width: calc(110 * var(--un));
    bottom: calc(290 * var(--un));
    left: calc(300 * var(--un));
    cursor: pointer;
}

#inimigo-3-meio {
    position: absolute;
    height: calc(210 * var(--un));
    width: calc(150 * var(--un));
    bottom: calc(240 * var(--un));
    left: calc(720 * var(--un));
    cursor: pointer;
}

#inimigo-3-direita {
    position: absolute;
    height: calc(140 * var(--un));
    width: calc(100 * var(--un));
    bottom: calc(550 * var(--un));
    left: calc(900 * var(--un));
    cursor: pointer;
}

#inimigo-4-esquerda {
    position: absolute;
    height: calc(210 * var(--un));
    width: calc(140 * var(--un));
    bottom: calc(420 * var(--un));
    left: calc(250 * var(--un));
    cursor: pointer;
}

#inimigo-4-meio {
    position: absolute;
    height: calc(170 * var(--un));
    width: calc(90 * var(--un));
    bottom: calc(320 * var(--un));
    left: calc(620 * var(--un));
    cursor: pointer;
}

#inimigo-4-direita {
    position: absolute;
    height: calc(120 * var(--un));
    width: calc(100 * var(--un));
    bottom: calc(555 * var(--un));
    left: calc(760 * var(--un));
    cursor: pointer;
}

#pause-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/pause.png');
    height: calc(102 * var(--un));
    width: calc(120 * var(--un));
    top: calc(200 * var(--un));
    left: calc(127 * var(--un));
    cursor: pointer;
    z-index: 4;
}

#play-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/play.png');
    height: calc(102 * var(--un));
    width: calc(120 * var(--un));
    top: calc(200 * var(--un));
    left: calc(127 * var(--un));
    cursor: pointer;
    z-index: 4;
}

#blur-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/blur.png');
    height: calc(656 * var(--un));
    width: calc(1162 * var(--un));
    top: calc(180 * var(--un));
    left: calc(120 * var(--un));
    z-index: 3;
}

#texto-jogo {
    position: absolute;
    font-size: calc(50 * var(--un));
    color: #fff;
    top: calc(490 * var(--un));
    left: calc(400 * var(--un));
    z-index: 4;
    text-align: center;
}

#tela-tarefa-4 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/4/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#botao-verde-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(105 * var(--un));
    width: calc(413 * var(--un));
    top: calc(527 * var(--un));
    left: calc(240 * var(--un));
    cursor: pointer;
    font-size: calc(15 * var(--un));
    text-align: center;
    padding: auto;
}

#botao-amarelo-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(106 * var(--un));
    width: calc(420 * var(--un));
    top: calc(527 * var(--un));
    right: calc(222 * var(--un));
    cursor: pointer;
    font-size: calc(15 * var(--un));
    text-align: center;
    padding: auto;
}

#botao-vermelho-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(106 * var(--un));
    width: calc(421 * var(--un));
    bottom: calc(215 * var(--un));
    left: calc(234* var(--un));
    cursor: pointer;
    font-size: calc(15 * var(--un));
    text-align: center;
    padding: auto;
}

#botao-azul-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(107 * var(--un));
    width: calc(422 * var(--un));
    bottom: calc(214 * var(--un));
    right: calc(220 * var(--un));
    cursor: pointer;
    font-size: calc(15 * var(--un));
    text-align: center;
    padding: auto;
}

#botao-desistir-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(254 * var(--un));
    right: calc(376 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-resetar-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(275 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#botao-duvida-t4 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(176 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#elemento-vermelho-t4 {
    position: absolute;
    text-align: center;
    height: calc(30 * var(--un));
    width: calc(200 * var(--un));
    color: #f00;
    top: calc(443 * var(--un));
    left: calc(300 * var(--un));
}

#elemento-amarelo-t4 {
    position: absolute;
    text-align: center;
    height: calc(30 * var(--un));
    width: calc(200 * var(--un));
    color: #ff0;
    top: calc(443 * var(--un));
    left: calc(514 * var(--un));
}

#elemento-verde-t4 {
    position: absolute;
    text-align: center;
    height: calc(30 * var(--un));
    width: calc(200 * var(--un));
    color: #0f0;
    top: calc(443 * var(--un));
    left: calc(727 * var(--un));
}

#elemento-azul-t4 {
    position: absolute;
    text-align: center;
    height: calc(30 * var(--un));
    width: calc(200 * var(--un));
    color: #00f;
    top: calc(443 * var(--un));
    left: calc(941 * var(--un));
}

#sucesso-t4 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(220 * var(--un));
    left: calc(595 * var(--un));
}

#falha-t4 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(220 * var(--un));
    left: calc(595 * var(--un));
}

#tela-tarefa-5 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/5/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#input-tarefa-5 {
    position: absolute;
    height: calc(50 * var(--un));
    width: calc(295 * var(--un));
    font-size: calc(20 * var(--un));
    bottom: calc(410 * var(--un));
    right: calc(190 * var(--un));
    outline: none;
    background-color: transparent;
    border: none;
}

#input-tarefa-5::placeholder {
    color: #000;
}

#tentativas-restantes-t4 {
    position: absolute;
    width: calc(343 * var(--un));
    font-size: calc(15 * var(--un));
    color: #fff;
    bottom: calc(252 * var(--un));
    right: calc(170 * var(--un));
    text-align: center;
}

#botao-entregar-t5 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(170 * var(--un));
    bottom: calc(276 * var(--un));
    cursor: pointer;
}

#sucesso-t5 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(30 * var(--un));
    top: calc(436 * var(--un));
    right: calc(225 * var(--un));
}

#falha-t5 {
    position: absolute;
    color: #df0000;
    font-size: calc(30 * var(--un));
    top: calc(436 * var(--un));
    right: calc(215 * var(--un));
}

#pergunta-tarefa-5 {
    position: absolute;
    text-align: center;
    width: calc(924 * var(--un));
    font-size: calc(30 * var(--un));
    top: calc(316 * var(--un));
    left: calc(235 * var(--un));
    text-align: center;
}

#tela-tarefa-6 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/6/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#pergunta-tarefa-6 {
    position: absolute;
    text-align: center;
    height: calc(60 * var(--un));
    width: calc(924 * var(--un));
    font-size: calc(22 * var(--un));
    top: calc(362 * var(--un));
    left: calc(235 * var(--un));
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#progresso-tarefa-6 {
    position: absolute;
    font-size: calc(40 * var(--un));
    color: #fff;
    top: calc(218 * var(--un));
    right: calc(290 * var(--un));
    text-align: center;
}

#botao-verde-t6,
#botao-vermelho-t6,
#botao-azul-t6,
#botao-amarelo-t6 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(106 * var(--un));
    width: calc(421 * var(--un));
    cursor: pointer;
    font-size: calc(20 * var(--un));
    text-align: center;
}

#botao-verde-t6 {
    top: calc(520 * var(--un));
    left: calc(240 * var(--un));
}

#botao-vermelho-t6 {
    bottom: calc(223 * var(--un));
    left: calc(234 * var(--un));
}

#botao-azul-t6 {
    bottom: calc(223 * var(--un));
    right: calc(220 * var(--un));
}

#botao-amarelo-t6 {
    top: calc(520 * var(--un));
    right: calc(222 * var(--un));
}

#botao-duvida-t6 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(176 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#sucesso-t6 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(220 * var(--un));
    left: calc(595 * var(--un));
}

#falha-t6 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(217 * var(--un));
    left: calc(615 * var(--un));
}

#errado-t6 {
    position: absolute;
    color: #df0000;
    font-size: calc(18 * var(--un));
    top: calc(227 * var(--un));
    left: calc(615 * var(--un));
}

#clique-errado-t6 {
    background-image: url('../../assets/pc/tarefas/6/errado.png');
    position: absolute;
    height: 75%;
    aspect-ratio: 186/192;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clique-certo-t6 {
    background-image: url('../../assets/pc/tarefas/6/certo.png');
    position: absolute;
    height: 75%;
    aspect-ratio: 714/566;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela-tarefa-7 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/7/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#titulo-tarefa-7 {
    position: absolute;
    color: #000;
    font-size: calc(20 * var(--un));
    text-align: center;
    height: calc(60 * var(--un));
    width: calc(876 * var(--un));
    top: calc(334 * var(--un));
    left: calc(282 * var(--un));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#campo-texto-tarefa-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: calc(25 * var(--un));
    top: calc(454 * var(--un));
    left: calc(222 * var(--un));
    height: calc(60 * var(--un));
    width: calc(956 * var(--un));
    text-align: center;
}

#botao-verde-t7,
#botao-vermelho-t7,
#botao-azul-t7,
#botao-amarelo-t7 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(106 * var(--un));
    width: calc(421 * var(--un));
    cursor: pointer;
    font-size: calc(20 * var(--un));
    text-align: center;
    padding: 0 calc(30 * var(--un));
}

#botao-verde-t7 {
    top: calc(560 * var(--un));
    left: calc(233 * var(--un));
}

#botao-vermelho-t7 {
    bottom: calc(183 * var(--un));
    left: calc(227 * var(--un));
}

#botao-azul-t7 {
    bottom: calc(183 * var(--un));
    right: calc(227 * var(--un));
}

#botao-amarelo-t7 {
    top: calc(560 * var(--un));
    right: calc(229 * var(--un));
}

#botao-duvida-t7 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(150 * var(--un));
    top: calc(196 * var(--un));
    cursor: pointer;
}

#sucesso-t7 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(215 * var(--un));
    left: calc(650 * var(--un));
}

#falha-t7 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(215 * var(--un));
    left: calc(650 * var(--un));
}

#cse,
#csd,
#adv_1,
#adv_2,
#adv_3,
#adv_4 {
    z-index: 10000;
}

#mesa {
    display: none;
    position: absolute;
    background-image: url("../../assets/pc/mesa.png");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#cafe {
    position: absolute;
    border-radius: calc(50 * var(--un));
    height: calc(255 * var(--un));
    width: calc(275 * var(--un));
    right: calc(150 * var(--un));
    bottom: calc(98 * var(--un));
    cursor: pointer;
}

#monitor {
    position: absolute;
    border-radius: 0 0 calc(50 * var(--un)) 0;
    height: calc(592 * var(--un));
    width: calc(837 * var(--un));
    top: calc(49 * var(--un));
    left: calc(269 * var(--un));
    cursor: pointer;
}

#bebendo {
    display: none;
    position: absolute;
    background-image: url('../../assets/cafe/bebendo.png');
    right: 0;
    bottom: 0;
    width: calc(1149 * var(--un));
    height: calc(543 * var(--un));
}

#escritorio {
    display: none;
    position: absolute;
    background-image: url("../../assets/escritorio.png");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#mesa-escritorio {
    position: absolute;
    height: calc(696 * var(--un));
    width: calc(1032 * var(--un));
    bottom: 0;
    right: calc(194 * var(--un));
    z-index: 10;
    cursor: pointer;
}

#seta-direita-escritorio {
    position: absolute;
    height: calc(230 * var(--un));
    width: calc(135 * var(--un));
    bottom: calc(380 * var(--un));
    right: calc(21 * var(--un));
    cursor: pointer;
}

#cafeteira {
    display: none;
    position: absolute;
    background-image: url("../../assets/cafeteira.png");
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

#seta-esquerda-cafeteira {
    position: absolute;
    height: calc(230 * var(--un));
    width: calc(135 * var(--un));
    bottom: calc(380 * var(--un));
    left: calc(21 * var(--un));
    cursor: pointer;
}

#cafeteira-obj {
    position: absolute;
    height: calc(619 * var(--un));
    width: calc(675 * var(--un));
    left: calc(355 * var(--un));
    bottom: calc(61 * var(--un));
    cursor: pointer;
}

#texto-cafeteira {
    position: absolute;
    width: calc(800 * var(--un));
    font-size: calc(50 * var(--un));
    top: calc(225 * var(--un));
    left: calc(320 * var(--un));
    text-align: center;
}

#cafeteira-ligada {
    display: none;
    position: absolute;
    background-color: #14ce02;
    height: calc(47.6 * var(--un));
    width: calc(62.8 * var(--un));
    top: calc(368 * var(--un));
    right: calc(559.3 * var(--un));
}

#cafe-cafeteira {
    display: none;
    pointer-events: none;
    position: absolute;
    height: calc(150 * var(--un));
    aspect-ratio: 182/169;
    left: calc(600 * var(--un));
    bottom: calc(157 * var(--un));
}

.notificacao {
    position: absolute;
    height: calc(124 * var(--un));
    width: calc(496 * var(--un));
    right: calc(70 * var(--un));
    z-index: 5;
}

.imagem-notificacao {
    position: absolute;
    background-size: contain;
    height: calc(47 * var(--un));
    width: calc(60 * var(--un));
    top: calc(38 * var(--un));
    left: calc(36 * var(--un));
}

.texto-notificacao {
    position: absolute;
    line-height: calc(25 * var(--un));
    font-size: calc(15 * var(--un));
    color: #fff;
    top: calc(17 * var(--un));
    left: calc(105 * var(--un));
    height: calc(90 * var(--un));
    width: calc(360 * var(--un));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown-notificacao {
    position: absolute;
    right: calc(31 * var(--un));
    bottom: calc(19 * var(--un));
    font-size: calc(20 * var(--un));
    color: #ff4949;
}

#balao-mesa,
#balao-escritorio,
#balao-cafeteira,
#balao-espetado-mesa,
#balao-espetado-escritorio,
#balao-espetado-cafeteira {
    display: none;
    background-size: contain;
    position: absolute;
    pointer-events: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(20 * var(--un));
}

#balao-espetado-mesa,
#balao-espetado-escritorio,
#balao-espetado-cafeteira {
    color: #df0000;
}

#balao-mesa,
#balao-escritorio {
    background-image: url('../../assets/pc/baloes/balao_escritorio.png');
    height: calc(435 * var(--un));
    width: calc(533 * var(--un));
    left: calc(11 * var(--un));
    bottom: calc(13 * var(--un));
    padding: calc(15 * var(--un));
}

#balao-cafeteira {
    background-image: url('../../assets/pc/baloes/balao_cafeteira.png');
    height: calc(340 * var(--un));
    aspect-ratio: 435/315;
    left: calc(11 * var(--un));
    bottom: calc(13 * var(--un));
    padding-left: calc(70 * var(--un));
}

#balao-espetado-mesa {
    background-image: url('../../assets/pc/baloes/balao_espetado_escritorio.png');
    height: calc(364 * var(--un));
    width: calc(464 * var(--un));
    top: calc(176 * var(--un));
    right: 0; 
    padding: 0 calc(45 * var(--un));
}

#balao-espetado-escritorio {
    background-image: url('../../assets/pc/baloes/balao_espetado_escritorio.png');
    height: calc(364 * var(--un));
    width: calc(464 * var(--un));
    top: calc(140 * var(--un));
    right: calc(166 * var(--un));  
    padding: 0 calc(45 * var(--un));
}

#balao-espetado-cafeteira {
    background-image: url('../../assets/pc/baloes/balao_espetado_cafeteira.png');
    height: calc(261 * var(--un));
    width: calc(360 * var(--un));
    top: calc(142 * var(--un));
    left: calc(22 * var(--un));
    font-size: calc(15 * var(--un));
    padding-left: calc(45 * var(--un));
    padding-right: calc(25 * var(--un));
}

#confirmacao-saida-reuniao {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/sair_reuniao.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#botao-confirmar-saida-reuniao {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(81 * var(--un));
    width: calc(325 * var(--un));
    left: calc(363 * var(--un));
    bottom: calc(379 * var(--un));
    cursor: pointer;
}

#botao-cancelar-saida-reuniao {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(81 * var(--un));
    width: calc(325 * var(--un));
    right: calc(363 * var(--un));
    bottom: calc(379 * var(--un));
    cursor: pointer;
}