* {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}

html,
body {
    background-image: url('../../assets/entorno/bg/computador.png');
}

.frame {
    position: relative;
    border-image: url('../../assets/entorno/borda/computador.png') 32 stretch;
}

#game {
    background-image: url('../../assets/pc/pc.png');
    display: flex;
    align-items: center;
    justify-content: center;
}

#cse {
    position: absolute;
    background-image: url('../../assets/hud/stats_CSE.png');
    height: calc(140 * var(--un));
    width: calc(614 * var(--un));
    top: 0;
    left: 0;
}

#icone-energia {
    position: absolute;
    background-image: url('../../assets/hud/energia.png');
    height: calc(100 * var(--un));
    width: calc(100 * var(--un));
    top: calc(10 * var(--un));
    left: calc(10 * var(--un));
}

#energia {
    position: absolute;
    color: #fff;
    font-size: calc(40 * var(--un));
    top: calc(41 * var(--un));
    left: calc(104 * var(--un));
}

#icone-felicidade {
    position: absolute;
    background-image: url('../../assets/hud/felicidade/4.png');
    height: calc(75 * var(--un));
    width: calc(75 * var(--un));
    top: calc(20 * var(--un));
    left: calc(303 * var(--un));

}

#felicidade {
    position: absolute;
    color: #fff;
    font-size: calc(40 * var(--un));
    top: calc(41 * var(--un));
    left: calc(390 * var(--un));
}

#csd {
    position: absolute;
    background-image: url('../../assets/hud/stats_CSD.png');
    height: calc(140 * var(--un));
    width: calc(366 * var(--un));
    top: 0;
    right: 0;
}

#tempo {
    position: absolute;
    font-size: calc(50 * var(--un));
    color: #fff;
    top: calc(36 * var(--un));
    right: calc(44 * var(--un));
}

.seta-baixo {
    position: absolute;
    background-image: url('../../assets/hud/seta_baixo.png');
    height: calc(135 * var(--un));
    width: calc(230 * var(--un));
    bottom: calc(13 * var(--un));
    left: calc(590 * var(--un));
    cursor: pointer;
    z-index: 100;
}

.advertencia_cheia {
    position: absolute;
    background-image: url('../../assets/pc/advertencia_cheia.png');
    height: calc(96 * var(--un));
    width: calc(93 * var(--un));

}

.advertencia_vazia {
    position: absolute;
    background-image: url('../../assets/pc/advertencia_vazia.png');
    height: calc(96 * var(--un));
    width: calc(93 * var(--un));
}

#adv_1 {
    top: calc(13 * var(--un));
    left: calc(630 * var(--un));
}

#adv_2 {
    top: calc(13 * var(--un));
    left: calc(730 * var(--un));
}

#adv_3 {
    top: calc(13 * var(--un));
    left: calc(830 * var(--un));
}

#adv_4 {
    top: calc(13 * var(--un));
    left: calc(930 * var(--un));
}

#tb-windows {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/windows.png');
    height: calc(55 * var(--un));
    width: calc(55 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(64 * var(--un));
}

#tb-reuniao {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/reuniao.png');
    height: calc(55 * var(--un));
    width: calc(55 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(151 * var(--un));
    z-index: 1;
}


#tb-pasta {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/pasta.png');
    height: calc(42 * var(--un));
    width: calc(42 * var(--un));
    bottom: calc(79 * var(--un));
    left: calc(238 * var(--un));
    z-index: 1;
}

#tb-lista {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/lista.png');
    height: calc(51 * var(--un));
    width: calc(51 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(312 * var(--un));
    z-index: 1;
}

#tb-jogo {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/jogo.png');
    height: calc(48 * var(--un));
    width: calc(48 * var(--un));
    bottom: calc(75 * var(--un));
    left: calc(395 * var(--un));
    z-index: 1;
}

#tb-tarefa {
    display: none;
    position: absolute;
    background-image: url('../../assets/pc/taskbar/tarefa.png');
    height: calc(50 * var(--un));
    width: calc(50 * var(--un));
    bottom: calc(73 * var(--un));
    left: calc(477 * var(--un));
    z-index: 1;
}

.selecionado {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/selecionado.png');
    height: calc(62 * var(--un));
    width: calc(80 * var(--un));
    bottom: calc(68 * var(--un));
    pointer-events: none;
}

.aberto {
    position: absolute;
    background-image: url('../../assets/pc/taskbar/aberto.png');
    height: calc(4 * var(--un));
    width: calc(16 * var(--un));
    bottom: calc(70 * var(--un));
    pointer-events: none;
}

#tb-reuniao-selecionado {
    left: calc(136 * var(--un));
}

#tb-pasta-selecionado {
    left: calc(216 * var(--un));
}

#tb-lista-selecionado {
    left: calc(296 * var(--un));
}

#tb-jogo-selecionado {
    left: calc(376 * var(--un));
}

#tb-tarefa-selecionado {
    left: calc(460 * var(--un));
}

#tb-reuniao-aberto {
    left: calc(167 * var(--un));
}

#tb-pasta-aberto {
    left: calc(248 * var(--un));
}

#tb-lista-aberto {
    left: calc(328 * var(--un));
}

#tb-jogo-aberto {
    left: calc(409 * var(--un));
}

#tb-tarefa-aberto {
    left: calc(490 * var(--un));
}

#tela-reuniao {
    position: absolute;
    background-image: url('../../assets/pc/tela_reuniao.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#compartilhar-tela {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/compartilhar_tela.png');
    height: calc(72 * var(--un));
    width: calc(104 * var(--un));
    top: calc(285 * var(--un));
    right: calc(140 * var(--un));
}

#camera-fechado {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/camera_fechado.png');
    height: calc(88 * var(--un));
    width: calc(104 * var(--un));
    top: calc(472 * var(--un));
    right: calc(136 * var(--un));
}

#camera-aberto {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/camera_aberto.png');
    height: calc(72 * var(--un));
    width: calc(104 * var(--un));
    top: calc(480 * var(--un));
    right: calc(136 * var(--un));
}

#microfone-fechado {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/microfone_fechado.png');
    height: calc(88 * var(--un));
    width: calc(104 * var(--un));
    top: calc(648 * var(--un));
    right: calc(140 * var(--un));
}

#microfone-aberto {
    position: absolute;
    background-image: url('../../assets/pc/reuniao/microfone_aberto.png');
    height: calc(88 * var(--un));
    width: calc(104 * var(--un));
    top: calc(648 * var(--un));
    right: calc(140 * var(--un));
}

#minimizar-reuniao {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(48 * var(--un));
    top: calc(143 * var(--un));
    right: calc(223 * var(--un));
}

#xis-reuniao {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(119 * var(--un));
}

#tela-pasta {
    position: absolute;
    background-image: url('../../assets/pc/tela_pasta.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#minimizar-pasta {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-pasta {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(119 * var(--un));
}

#doc-1 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(185 * var(--un));
}

#doc-2 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(454 * var(--un));
}

#doc-3 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(725 * var(--un));
}

#doc-4 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(323 * var(--un));
    left: calc(987 * var(--un));
}

#doc-5 {
    position: absolute;
    height: calc(225 * var(--un));
    width: calc(230 * var(--un));
    top: calc(573 * var(--un));
    left: calc(185 * var(--un));
}

#documento-aberto {
    position: absolute;
    background-image: url('../../assets/pc/documento.png');
    height: calc(680 * var(--un));
    width: calc(470 * var(--un));
    top: calc(161 * var(--un));
    left: calc(471 * var(--un));
}

#documento-aberto-texto {
    position: absolute;
    font-size: calc(20 * var(--un));
    top: calc(266 * var(--un));
    left: calc(507 * var(--un));
    color: black;
}

#documento-aberto-fechar {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(72 * var(--un));
    top: calc(163 * var(--un));
    right: calc(471 * var(--un));
}

#documento-aberto-minimizar {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(72 * var(--un));
    top: calc(163 * var(--un));
    right: calc(550 * var(--un));
}

#tela-lista {
    position: absolute;
    background-image: url('../../assets/pc/tela_lista.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#minimizar-lista {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-lista {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(120 * var(--un));
}

#pontuacao-jogador {
    position: absolute;
    font-size: calc(25 * var(--un));
    color: #fff;
    top: calc(225 * var(--un));
    right: calc(163 * var(--un));
}

.icone-tarefa {
    position: absolute;
    height: calc(70 * var(--un));
    width: calc(77 * var(--un));
    left: calc(200 * var(--un));
}

.texto-tarefa {
    position: absolute;
    font-size: calc(25 * var(--un));
    color: #fff;
    left: calc(305 * var(--un));
}

.pontuacao-ganha-tarefa {
    position: absolute;
    color: #fff;
    font-size: calc(20 * var(--un));
    right: calc(357 * var(--un));
}

.pontuacao-perdida-tarefa {
    position: absolute;
    color: #fff;
    font-size: calc(20 * var(--un));
    right: calc(228 * var(--un));
}

.item-lista {
    position: absolute;
    height: calc(100 * var(--un));
    width: calc(1086 * var(--un));
    left: calc(157 * var(--un));
    border-radius: calc(20 * var(--un));
    cursor: pointer;
}

#icone-tarefa-1 {
    top: calc(324 * var(--un));
}

#icone-tarefa-2 {
    top: calc(452 * var(--un));
}

#icone-tarefa-3 {
    top: calc(580 * var(--un));
}

#icone-tarefa-4 {
    top: calc(712 * var(--un));
}

#texto-tarefa-1 {
    top: calc(347 * var(--un));
}

#texto-tarefa-2 {
    top: calc(477 * var(--un));
}

#texto-tarefa-3 {
    top: calc(605 * var(--un));
}

#texto-tarefa-4 {
    top: calc(735 * var(--un));
}

#pontuacao-ganha-tarefa-1 {
    top: calc(350 * var(--un));
}

#pontuacao-ganha-tarefa-2 {
    top: calc(480 * var(--un));
}

#pontuacao-ganha-tarefa-3 {
    top: calc(608 * var(--un));
}

#pontuacao-ganha-tarefa-4 {
    top: calc(738 * var(--un));
}

#pontuacao-perdida-tarefa-1 {
    top: calc(350 * var(--un));
}

#pontuacao-perdida-tarefa-2 {
    top: calc(480 * var(--un));
}

#pontuacao-perdida-tarefa-3 {
    top: calc(608 * var(--un));
}

#pontuacao-perdida-tarefa-4 {
    top: calc(738 * var(--un));
}

#item-lista-1 {
    top: calc(309 * var(--un));
}

#item-lista-2 {
    top: calc(439 * var(--un));
}

#item-lista-3 {
    top: calc(569 * var(--un));
}

#item-lista-4 {
    top: calc(697 * var(--un));
}

#tela-tarefa-1 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#botao-trocar-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
    left: calc(150 * var(--un));
    bottom: calc(220 * var(--un));
    cursor: pointer;
}

#botao-testar-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
    left: calc(527 * var(--un));
    bottom: calc(220 * var(--un));
    cursor: pointer;
}

#botao-entregar-t1 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
    left: calc(904 * var(--un));
    bottom: calc(220 * var(--un));
    cursor: pointer;
}

.icone-t1 {
    height: calc(110 * var(--un));
    width: calc(110 * var(--un));
}

#elemento1-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(182 * var(--un));
}

#elemento2-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(402 * var(--un));
}

#elemento3-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(622 * var(--un));
}

#elemento4-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(841 * var(--un));
}

#elemento5-t1 {
    position: absolute;
    padding: calc(29 * var(--un));
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
    top: calc(410 * var(--un));
    left: calc(1060 * var(--un));
}

#trocar-esmaecido-t1 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/escurecedor.png');
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
}

#testar-esmaecido-t1 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/escurecedor.png');
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
}

.elemento-esmaecido-t1 {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../assets/pc/tarefas/1/escurecedor_elemento.png');
    height: calc(171 * var(--un));
    width: calc(171 * var(--un));
}

#countdown-t1 {
    position: absolute;
    font-size: calc(20 * var(--un));
    color: #fff;
    top: calc(315 * var(--un));
    left: calc(540 * var(--un));
}

#comparacao-t1 {
    position: absolute;
    font-size: calc(30 * var(--un));
    color: #fff;
    top: calc(305 * var(--un));
    left: calc(640 * var(--un));
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-comparacao-t1 {
    height: calc(47 * var(--un));
    width: calc(47 * var(--un));
}

#minimizar-tarefa {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-tarefa {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(120 * var(--un));
}

#sucesso-t1 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(305 * var(--un));
    left: calc(540 * var(--un));
}

#falha-t1 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(305 * var(--un));
    left: calc(540 * var(--un));
}

#tela-tarefa-2 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/2/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#titulo-tarefa-2 {
    color: #000;
    position: absolute;
    width: calc(876 * var(--un));
    font-size: calc(30 * var(--un));
    top: calc(316 * var(--un));
    left: calc(282 * var(--un));
    text-align: center;
}

.linha-codigo-t2 {
    position: absolute;
    font-family: 'Fira Code', monospace;
    font-size: calc(25 * var(--un));
    color: #fff;
    top: calc(503 * var(--un));
    left: calc(275 * var(--un));
}

.numeracao-linha-t2 {
    position: absolute;
    left: calc(235 * var(--un));
    font-family: 'Fira Code', monospace;
    font-size: calc(25 * var(--un));
    color: #c8c5c5;
}

#botao-testar-t2 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(153 * var(--un));
    bottom: calc(370 * var(--un));
    cursor: pointer;
}

#botao-entregar-t2 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(153 * var(--un));
    bottom: calc(245 * var(--un));
    cursor: pointer;
}

#completar-t2 {
    border: none;
    background-color: #fff;
    height: calc(30 * var(--un));
    width: calc(50 * var(--un));
    font-size: calc(25 * var(--un));
    font-family: 'Fira Code', monospace;
    text-align: center;
    outline: none;
}

#botao-duvida-t2 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(80 * var(--un));
    width: calc(80 * var(--un));
    right: calc(151 * var(--un));
    top: calc(195 * var(--un));
    cursor: pointer;
}

#testar-esmaecido-t2 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/1/escurecedor.png');
    height: calc(88 * var(--un));
    width: calc(347 * var(--un));
}

#countdown-t2 {
    position: absolute;
    font-size: calc(15 * var(--un));
    color: #fff;
    top: calc(505 * var(--un));
    left: calc(955 * var(--un));
}

#resultado-t2 {
    position: absolute;
    font-size: calc(30 * var(--un));
    width: calc(180 * var(--un));
    top: calc(449 * var(--un));
    left: calc(985 * var(--un));
    display: flex;
    justify-content: center;
    align-items: center;
}

#sucesso-t2 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#falha-t2 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#tela-tarefa-3 {
    position: absolute;
    background-image: url('../../assets/pc/tarefas/3/tela.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#titulo-tarefa-3 {
    color: #000;
    position: absolute;
    font-size: calc(30 * var(--un));
    top: calc(316 * var(--un));
    left: calc(265 * var(--un));
    text-align: center;
}

#botao-entregar-t3 {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(88 * var(--un));
    width: calc(343 * var(--un));
    right: calc(170 * var(--un));
    bottom: calc(333 * var(--un));
    cursor: pointer;
}

#resultado-t3 {
    position: absolute;
    font-size: calc(30 * var(--un));
    width: calc(180 * var(--un));
    top: calc(449 * var(--un));
    left: calc(985 * var(--un));
    display: flex;
    justify-content: center;
    align-items: center;
}

#sucesso-t3 {
    position: absolute;
    color: #00cf0a;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#falha-t3 {
    position: absolute;
    color: #df0000;
    font-size: calc(40 * var(--un));
    top: calc(216 * var(--un));
    right: calc(360 * var(--un));
}

#tela-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/inicio.png');
    height: calc(714 * var(--un));
    width: calc(1285 * var(--un));
    top: calc(140 * var(--un));
    left: calc(58 * var(--un));
}

#botao-iniciar-jogo {
    position: absolute;
    border-radius: calc(20 * var(--un));
    height: calc(132 * var(--un));
    width: calc(529 * var(--un));
    left: calc(436 * var(--un));
    bottom: calc(312 * var(--un));
    cursor: pointer;
}

#minimizar-jogo {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(60 * var(--un));
    top: calc(143 * var(--un));
    right: calc(218 * var(--un));
}

#xis-jogo {
    position: absolute;
    height: calc(35 * var(--un));
    width: calc(77 * var(--un));
    top: calc(143 * var(--un));
    right: calc(119 * var(--un));
}

#seta-direita-jogo {
    position: absolute;
    background-image: url('../../assets/hud/seta_baixo.png');
    height: calc(89 * var(--un));
    width: calc(151 * var(--un));
    bottom: calc(407 * var(--un));
    left: calc(1150 * var(--un));
    cursor: pointer;
    z-index: 100;
    rotate: 270deg;
}

#seta-esquerda-jogo {
    position: absolute;
    background-image: url('../../assets/hud/seta_baixo.png');
    height: calc(89 * var(--un));
    width: calc(151 * var(--un));
    bottom: calc(407 * var(--un));
    left: calc(98 * var(--un));
    cursor: pointer;
    z-index: 100;
    rotate: 90deg;
}

#inimigo-1-esquerda {
    position: absolute;
    height: calc(210 * var(--un));
    width: calc(80 * var(--un));
    bottom: calc(340 * var(--un));
    left: calc(370 * var(--un));
    cursor: pointer;
}

#inimigo-1-meio {
    position: absolute;
    height: calc(150 * var(--un));
    width: calc(90 * var(--un));
    bottom: calc(400 * var(--un));
    left: calc(560 * var(--un));
    cursor: pointer;
}

#inimigo-1-direita {
    position: absolute;
    height: calc(120 * var(--un));
    width: calc(140 * var(--un));
    bottom: calc(390 * var(--un));
    left: calc(820 * var(--un));
    cursor: pointer;
}

#inimigo-2-esquerda {
    position: absolute;
    height: calc(120 * var(--un));
    width: calc(140 * var(--un));
    bottom: calc(580 * var(--un));
    left: calc(400 * var(--un));
    cursor: pointer;
}

#inimigo-2-meio {
    position: absolute;
    height: calc(180 * var(--un));
    width: calc(90 * var(--un));
    bottom: calc(460 * var(--un));
    left: calc(690 * var(--un));
    cursor: pointer;
}

#inimigo-2-direita {
    position: absolute;
    height: calc(140 * var(--un));
    width: calc(120 * var(--un));
    bottom: calc(520 * var(--un));
    left: calc(1050 * var(--un));
    cursor: pointer;
}

#inimigo-3-esquerda {
    position: absolute;
    height: calc(200 * var(--un));
    width: calc(110 * var(--un));
    bottom: calc(290 * var(--un));
    left: calc(300 * var(--un));
    cursor: pointer;
}

#inimigo-3-meio {
    position: absolute;
    height: calc(210 * var(--un));
    width: calc(150 * var(--un));
    bottom: calc(240 * var(--un));
    left: calc(720 * var(--un));
    cursor: pointer;
}

#inimigo-3-direita {
    position: absolute;
    height: calc(140 * var(--un));
    width: calc(100 * var(--un));
    bottom: calc(550 * var(--un));
    left: calc(900 * var(--un));
    cursor: pointer;
}

#inimigo-4-esquerda {
    position: absolute;
    height: calc(210 * var(--un));
    width: calc(140 * var(--un));
    bottom: calc(420 * var(--un));
    left: calc(250 * var(--un));
    cursor: pointer;
}

#inimigo-4-meio {
    position: absolute;
    height: calc(170 * var(--un));
    width: calc(90 * var(--un));
    bottom: calc(320 * var(--un));
    left: calc(620 * var(--un));
    cursor: pointer;
}

#inimigo-4-direita {
    position: absolute;
    height: calc(120 * var(--un));
    width: calc(100 * var(--un));
    bottom: calc(555 * var(--un));
    left: calc(760 * var(--un));
    cursor: pointer;
}

#pause-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/pause.png');
    height: calc(102 * var(--un));
    width: calc(120 * var(--un));
    top: calc(200 * var(--un));
    left: calc(127 * var(--un));
    cursor: pointer;
    z-index: 120;
}

#play-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/play.png');
    height: calc(102 * var(--un));
    width: calc(120 * var(--un));
    top: calc(200 * var(--un));
    left: calc(127 * var(--un));
    cursor: pointer;
    z-index: 120;
}

#blur-jogo {
    position: absolute;
    background-image: url('../../assets/pc/jogo/blur.png');
    height: calc(656 * var(--un));
    width: calc(1162 * var(--un));
    top: calc(180 * var(--un));
    left: calc(120 * var(--un));
    z-index: 110;
}

#texto-jogo {
    position: absolute;
    font-size: calc(50 * var(--un));
    color: #fff;
    top: calc(490 * var(--un));
    left: calc(400 * var(--un));
    z-index: 120;
    text-align: center;
}